$UI_margin: 1em;

@mixin user-select-none() {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@mixin outlined($boldness) {
    text-shadow: #000 0 0 $boldness, #000 0 0 $boldness, #000 0 0 $boldness, #000 0 0 $boldness,
                 #000 0 0 $boldness, #000 0 0 $boldness, #000 0 0 $boldness, #000 0 0 $boldness,
                 #000 0 0 $boldness, #000 0 0 $boldness, #000 0 0 $boldness, #000 0 0 $boldness;
}

@mixin flex_center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blind_tester_component {
    background-color: #111;
    color: white;

    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .loading_spinner_overlay {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        pointer-events: none;

        .spinner {
            font-size: 3em;
        }
    }

    #video {
        /*border: 3px red solid;*/
        height: 100%;
        width: 100%;
    }

    .video_info_overlay {
        position: fixed;
        bottom: 15%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(75, 75, 75, .8);

        .video_info_container {
            @include outlined(0.05em);
            padding-top: 10px;
            padding-bottom: 10px;

            .anime_title {
                font-size: 1.5em;
                font-weight: bold;
            }

            .song_info_container{
                font-size: 1em;
                padding-left: 15px;
            }
        }
    }

    #timer {
        padding: 0;
        margin: 4em;

        position: relative;

        .timer_value_container {
            @include flex_center();

            .timer_value {
                font-size: 3em;
                font-weight: bold;

                pointer-events: none; // so that hover will pass through

                @include outlined(0.05em);
            }
            .timer_cross {

            }
        }

        .cross_overlay {
            visibility: hidden;
            font-size: 1.5em;

            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            pointer-events: none; // so that hover will pass through

            @include flex_center();
        }

        pointer-events: none; // make it not-clickable by default
        &.clickable {
            pointer-events: all;

            &:hover {
                .timer_value {
                    opacity: 0.5;
                }

                .cross_overlay {
                    visibility: visible;
                }
            }
        }
    }

    .UI_button{
        padding: 10px;
    }

    .tooltip {
        display: inline-block;

        color: #555555;
        background-color: white;

        padding: 8px;
        border-radius: 5px;

        margin: 10px;
    }

    .UI_block {
        @include user-select-none();

        svg {
            font-size: 2em;
        }
    }

    .bottom {
        position: fixed;
        bottom: $UI_margin;
    }
    .top {
        position: fixed;
        top: $UI_margin;
    }
    .right {
        position: fixed;
        right: $UI_margin;
    }
    .left {
        position: fixed;
        left: $UI_margin;
    }

    .Players_icons {
        display: flex;
        flex-direction: row;
    }

    
}
