/* The following example shows how to organize CSS properties*/
._example_ {
    /* Positioning */
    /* Display & Box Model */
    /* Color */
    /* Text */
    /* Other */
}

$c_1: #233d4d;
$c_2: #8ed081;
$c_3: #fe7f2d;
$c_4: #fcca46;
$c_5: #619b8a;

$background-color: $c_4;
$window_background_color: $c_4;
$separator-color: $c_5;


* {
    box-sizing: border-box;
}

html{
    margin: 0;
    width: 100vw;

    color: $c_5;
}

body {
    margin: 0;
}

#main_window_container{
    min-height: 100vh;
    padding: 1%;

    background-color: $background-color;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main_window{
    background-color: white;

    width: 85%;
    //min-height: 90vh;
    border-radius: 10px;

    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);

    display: flex;
    flex-direction: row;

    padding: 2%;

    #left_half, #right_half{
        display: inline;
        width: 50%;
        height: 100%;

        .section {
            padding: 0px 40px 0px 40px;

            h4 {
                padding: 4px 0 4px 10px;
                border-bottom: 2px solid $c_4;
            }
        }

        &#right_half {
            display: flex;
            flex-direction: column;

            #testable_animes_section{
                flex: 1;
            }

            #button_container{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                #blind_test_button {
                    margin: 20px;
                }
            }
        }
    }

    #vertical_separator{
        width: 0px;
        height: 100%;
        border: 2px solid $c_5;
    }

    .button {

        padding: 8px;
        border: none;
        border-radius: 6px;
        background-color: $c_5;
        color: white;

        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
    }
}

#video_wrapper {
    background-color: #111;
    color: white;

    height: 100vh;
    width: 100vw;
    overflow: hidden;

    #video {
        /*border: 3px red solid;*/
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    #spinner_container {
        position: fixed;
        bottom: 0;
        right: 0;

        img {
            height: 100px;
            width: 100px;
            animation: spin 4s linear infinite;
        }
    }

    #title_container {
        position: fixed;
        bottom: 0;
        right: left;
        background-color: rgba(75, 75, 75, .8);

        p {
            margin: 20px;
        }
    }
}

@keyframes spin {
    100% {
        transform:rotate(-360deg);
    }
}
