@mixin user-select-none() {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.player_card{
    /* Positioning */
    /* Display & Box Model */
    display: inline-block;
	margin: 0.1em;
	height: 2em;
	width: 2em;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .2);

    /* Color */
    /* Text */
	line-height: 2em;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;

    /* Other */
	@include user-select-none();

	&.small {
		height: 1.2em;
		width: 1.2em;

		line-height: 1.2em;
		font-size: 1.2em;

		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .2);
	}
}
