<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Anime Blind Test</title>
		{% assets "scss_all" %}
			<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
		{% endassets %}
		{% assets "js_all" %}
		  <script defer src="{{ ASSET_URL }}"></script>
		{% endassets %}
	</head>
	<body>
		<div id="main_window_container">
			<div id="main_window">
				<div id="left_half">
					<div class="section" id="players">
						<h4>Players</h4>
						<div id="username_form">
							<player-list-component v-bind:players="game_engine.players"></player-list-component>
							<player-adder-component v-on:add_player="game_engine.players.push($event)"></player-adder-component>
						</div>
						<div id="playerlist">
						</div>
					</div>
					<div class="section" id="options">
						<h4>Options</h4>
						<p>WIP</p>
					</div>
				</div>
				<div id="vertical_separator"></div>
				<div id="right_half">
					<div class="section" id="testable_animes_section">
						<h4>List of testable animes</h4>
						<testable-animes-list-component v-bind:m_game_engine="game_engine"></testable-animes-list-component>
					</div>
					<div id="button_container">
						<div class="button" id="blind_test_button">
							Blind test me !
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="video_wrapper" style="display: None">
			<video controls id="video" style="opacity: 0;">
				<source>
			</video>
			<div id="spinner_container">
				<p id="timer"></p>
				<img id="spinner" src="{{url_for('static', filename='images/spinner_ds.png') }}">
			</div>
			<div id="title_container" style="opacity: 0;">
				<p id="title"></p>
			</div>
		</div>
	</body>
</html>
